<template>
  <div>
    <!-- <page-title :heading=heading :subheading=subheading :icon=icon></page-title> -->

    <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="main-card mb-3 card">
              <div class="car-image"><img width="100%" src="https://gaiago-static-files-prod.s3-eu-west-1.amazonaws.com/statics/vehicles/FM900FD.png" alt="Card image cap" class="card-img-top"></div>
              <div class="card-body">
                <h5 class="card-title">Renault Zoe GaiaGo</h5>
                <h6 class="card-subtitle">FM900FD</h6>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <br><br>
                <button class="btn btn-secondary">Button</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="main-card mb-3 card">
              <div class="car-image"><img width="100%" src="https://gaiago-static-files-prod.s3-eu-west-1.amazonaws.com/statics/vehicles/FV038YT.png" alt="Card image cap" class="card-img-top"></div>
              <div class="card-body">
                <h5 class="card-title">Sorgenia #1</h5>
                <h6 class="card-subtitle">FV038YT</h6>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <br><br>
                <button class="btn btn-secondary">Button</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="main-card mb-3 card">
              <div class="car-image"><img width="100%" src="https://gaiago-static-files-prod.s3-eu-west-1.amazonaws.com/statics/vehicles/default_car.png" alt="Card image cap" class="card-img-top"></div>
              <div class="card-body">
                <h5 class="card-title">Sorgenia #2</h5>
                <h6 class="card-subtitle">FV499ST</h6>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <br><br>
                <button class="btn btn-secondary">Button</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="main-card mb-3 card add-vehicle">
              <div class="car-image"><img width="100%" src="../assets/images/placeholder_car.png" alt="Card image cap" class="card-img-top"></div>
              <div class="card-body">
                <h5 class="card-title add">Aggiungi un nuovo veicolo</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="main-card mb-3 card"><img width="100%" src="https://via.placeholder.com/318x180.png?text=318%C3%97180" alt="Card image cap" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle">Card subtitle</h6>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <br><br>
                <button class="btn btn-secondary">Button</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="main-card mb-3 card"><img width="100%" src="https://via.placeholder.com/318x180.png?text=318%C3%97180" alt="Card image cap" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle">Card subtitle</h6>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <br><br>
                <button class="btn btn-secondary">Button</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>

  import PageTitle from "../Layout/Components/PageTitle.vue";

  export default {
    components: {
      // PageTitle,

    },
    data: () => ({
      heading: 'Cards',
      subheading: 'Wide selection of cards with multiple styles, borders, actions and hover effects.',
      icon: 'pe-7s-stopwatch icon-gradient bg-amy-crisp',

    }),

  }
</script>
